{% extends "@Contao/content_element/swiper.html.twig" %}

{% block attributes %}
    {% do attributes.addClass("id_#{data.id}") %}
    {% do attributes.removeClass("content-swiper") %}
    {% do attributes.addClass("content-custom-swiper") %}
    {{ parent() }}
{% endblock %}

{% block content %}
  {% set slider_attributes = attrs()
      .addClass('custom_swiper')
      .set('data-settings', slider_settings|json_encode)
      .mergeWith(slider_attributes|default)
  %}
  <div class="content-custom-swiper-inner">

    <div{{ slider_attributes }}>
        {% set slider_wrapper_attributes = attrs()
            .addClass('swiper-wrapper')
            .mergeWith(slider_wrapper_attributes|default)
        %}
        <div{{ slider_wrapper_attributes }}>
            {% block slides %}
              {{ parent() }}
            {% endblock %}
        </div>

    </div>
    {% block controls %}

          {% if data.sliderButtons %}
            <div class="button_wrapper">
              {% set button_prev_attributes = attrs()
                .set('type', 'button')
                .addClass('swiper-button-prev')
                .mergeWith(button_prev_attributes|default)
              %}
              <button{{ button_prev_attributes }}></button>
              {% set button_next_attributes = attrs()
                .set('type', 'button')
                .addClass('swiper-button-next')
                .mergeWith(button_next_attributes|default)
              %}
              <button{{ button_next_attributes }}></button>
            </div>
          {% endif %}

          {% if data.sliderPagination %}
            {% set pagination_attributes = attrs()
              .addClass('swiper-pagination')
              .mergeWith(pagination_attributes|default)
            %}  
            <div{{ pagination_attributes }}></div>
          {% endif %}

          {% if data.sliderScrollbar %}
            <div class="swiper-scrollbar"></div>
          {% endif %}

          <div class="swiper-progress"></div>
        {% endblock %}

    {% if data.sliderThumbs %}
      <div class="swiper_thumbs">
        <div class="swiper-wrapper">
          {% for element in nested_fragments %}
              {% block slide %}
                  {% set slide_attributes = attrs()
                      .addClass('swiper-slide')
                      .mergeWith(slide_attributes|default)
                  %}
                  <div{{ slide_attributes }}>
                      {% block slide_inner %}
                          {{ content_element(element) }}
                      {% endblock %}
                  </div>
              {% endblock %}
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    {% endif %}
    
  </div>
{% endblock %}

{% block script %}
  {% add "swiper_js" to body %}
    {% set script_attributes = attrs()
      .setIfExists('nonce', csp_nonce('script-src'))
      .mergeWith(script_attributes|default)
    %}
    <script defer src="{{ asset('js/swiper-bundle.min.js', 'contao-components/swiper') }}"></script>
  {% endadd %}
  <script>
    window.addEventListener("load", () => {
      if (document.querySelector('.content-custom-swiper.id_{{data.id}} .custom_swiper')) {
        
        const swiper_thumbs_{{data.id}} = new Swiper('.content-custom-swiper.id_{{data.id}} .swiper_thumbs', {
          loop: true,
          spaceBetween: 5,
          
          {% if data.sliderThumbsSlidesPerView %}
            slidesPerView: {{data.sliderThumbsSlidesPerView}},
            slidesPerGroup: {{data.sliderThumbsSlidesPerView}},
          {% else %}
            slidesPerView: 4,
            slidesPerGroup: 4,
          {% endif %}

          freeMode: true,
          watchSlidesProgress: true,
          navigation: {
            nextEl: '.content-custom-swiper.id_{{data.id}} .swiper_thumbs .swiper-button-next',
            prevEl: '.content-custom-swiper.id_{{data.id}} .swiper_thumbs .swiper-button-prev',
          },
        })

        const swiper_{{data.id}} = new Swiper('.content-custom-swiper.id_{{data.id}} .custom_swiper', {

          {% if data.sliderThumbs %}
            thumbs: {
              swiper: swiper_thumbs_{{data.id}},
            },
          {% endif %}

          {% if data.sliderStartSlide %}
            initialSlide: {{ data.sliderStartSlide }},
          {% endif %}

          effect: '{{ data.sliderEffect }}',

          {% if data.sliderContinuous %}
            loop: true,
          {% endif %}

          {% if data.sliderSpeed %}
            speed: {{ data.sliderSpeed }},
          {% endif %}

          {% if data.sliderDelay %}
            autoplay: {
              delay: {{ data.sliderDelay }},
              {% if data.sliderNotDisableOnInteraction %}
                pauseOnMouseEnter: false,
              {% else %}
                pauseOnMouseEnter: true,
              {% endif %}
            },
          {% endif %}

          {% if data.sliderAutoheight %}
            autoHeight: true,
          {% endif %}
          
          {% if data.sliderKeyboardControl %}
            keyboard: {
              enabled: true,
            },
          {% endif %}

          {% if data.sliderVertical %}
            direction: 'vertical',
          {% endif %}
            
          {% if data.sliderPagination %}
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
          {% endif %}
          
          {% if data.sliderButtons %}
            navigation: {
              nextEl: '.content-custom-swiper.id_{{data.id}} .swiper-button-next',
              prevEl: '.content-custom-swiper.id_{{data.id}} .swiper-button-prev',
            },
          {% endif %}
          
          {% if data.sliderScrollbar %}
            scrollbar: {
              el: '.swiper-scrollbar',
            },
          {% endif %}

          on: {
            autoplayTimeLeft(s, time, progress) {
              document.querySelector('.content-custom-swiper.id_{{data.id}} .content-custom-swiper-inner').style.setProperty("--swiper_progress", (1 - parseFloat(progress)).toFixed(4));
            }
          },
          
          breakpoints: {
            {% if data.sliderBreakpoint1 %}
              {{ data.sliderBreakpoint1 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint1 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint1 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint1 }},
                {% if data.sliderCenteredSlidesBreakpoint1 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint2 %}
              {{ data.sliderBreakpoint2 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint2 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint2 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint2 }},
                {% if data.sliderCenteredSlidesBreakpoint2 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint3 %}
              {{ data.sliderBreakpoint3 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint3 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint3 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint3 }},
                {% if data.sliderCenteredSlidesBreakpoint3 %}
                    centeredSlides: true,
                {% endif %}
              },
            {% endif %}
            {% if data.sliderBreakpoint4 %}
              {{ data.sliderBreakpoint4 }}: {
                slidesPerView: {{ data.sliderSlidesPerViewBreakpoint4 }},
                slidesPerGroup: {{ data.sliderSlidesPerGroupBreakpoint4 }},
                spaceBetween: {{ data.sliderSpaceBetweenBreakpoint4 }},
                {% if data.sliderCenteredSlidesBreakpoint4 %}
                    centeredSlides: true,
                {% endif %}
              }
            {% endif %}
          }
                            
        })
      }
    })
  </script>
{% endblock %}
